<!DOCTYPE html>
<html>
<head>
    <title>Leave Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Online Leave Management System</h2>

    <div class="button-wrapper">
        <!-- Staff Login button -->
        <a href="/staff_login">
            <button>Staff Login</button>
        </a>

        <!-- Admin Login button -->
        <a href="/admin_login">
            <button>Admin Login</button>
        </a>
    </div>
</body>
</html>
